.advantages__item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  @media (min-width: @tablet-width) {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
    margin-bottom: 0;
    padding-bottom: 73px;
  }

  &::before {
    .size(60px, 60px);
    content: "";
    flex-shrink: 0;
    display: block;
    margin-right: 20px;

    background-color: @bg-green;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-width) {
      .size(80px, 80px);
      margin-bottom: 30px;
    }
  }

  &_img_leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &_img_powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &_img_dining::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &_img_clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  &::after {
    display: none;

    @media (min-width: @tablet-width) {
      .font(281.07px, 281.07px);
      content: "";
      position: absolute;
      top: -20px;
      right: 177px;
      z-index: -1;
      display: block;
      font-weight: 400;
      font-family: "Oswald", "Arial", sans-serif;
      color: @bg-gray-light;
      transform: translateX(50%);
    }

    @media (min-width: @desktop-width) {
      right: 108px;
    }
  }

  &:nth-child(1)::after {
    content: "1";
  }

  &:nth-child(2)::after {
    content: "2";
  }

  &:nth-child(3)::after {
    content: "3";
  }

  &:nth-child(4)::after {
    content: "4";
  }
}
