.button {
  .font(16px, 20px);
  display: block;
  padding: 10px 20px;

  text-align: center;
  text-transform: uppercase;
  color: @white;

  background-color: @bg-green;

  &:hover,
  &:focus,
  &:active {
    background-color: @bg-green-darken;
    outline: none;
  }

  &:active {
    color: rgba(@white, 0.3);
  }

  &_size_l {
    .font(14px; 18px);

    @media (min-width: @tablet-width) {
      .font(20px, 20px);
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &_theme_gray {
    color: @gray-darken;
    background-color: @bg-gray-light;

    &:hover,
    &:focus,
    &:active {
      background-color: @gray-lightest;
    }

    &:active {
      color: rgba(@gray-darken, 0.3);
    }
  }
}


