.checkbox {
  .font(16px; 18px);
  display: flex;
  padding-right: @mobil-padding;
  padding-left: @mobil-padding;
  text-transform: uppercase;
  color: @icon-dark;

  @media (min-width: @tablet-width) {
    .font(20px, 20px);
    padding-right: @tablet-padding;
    padding-left: @tablet-padding;
  }

  @media (min-width: @desktop-width) {
    padding-right: @desktop-padding;
    padding-left: @desktop-padding;
  }
}

.checkbox__label {
  position: relative;
  display: block;
  padding: 6px 20px 6px 45px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 10px 20px 10px 60px;
  }

  &::before {
    .size(30px, 30px);
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    border: 1px solid @gray;

    @media (min-width: @tablet-width) {
      .size(40px, 40px);
    }
  }

  &::after {
    .size(18px, 10px);
    content: "";
    position: absolute;

    top: 8px;
    left: 6px;

    display: none;

    border-left: 2px solid @bg-green;
    border-bottom: 2px solid @bg-green;
    transform: rotate(-45deg);

    @media (min-width: @tablet-width) {
      top: 12px;
      left: 12px;
    }
  }
}

.checkbox__control:checked ~ .checkbox__label::after {
  display: block;
}

.checkbox__label:hover::before,
.checkbox__control:focus ~ .checkbox__label::before {
  border-color: @gray-dark;
}

.checkbox__control:active ~ .checkbox__label {
  opacity: 0.3;
}

.checkbox__control:active ~ .checkbox__label::before {
  border-color: @gray-dark;
}

.checkbox__control:disabled ~ .checkbox__label,
.checkbox__control:disabled:active ~ .checkbox__label {
  cursor: default;
  opacity: 0.3;
}

.checkbox__control:disabled ~ .checkbox__label::after {
  border-color: @gray;
}
