.contacts {
  background-color: @white;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.contacts__info {
  display: flex;
  max-width: 410px;
  margin: 0 auto;
  padding-right: @mobil-padding;
  padding-left: @mobil-padding;
  padding-top: 30px;
  padding-bottom: 25px;
}

.contacts__lead {
  width: 50%;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__adress {
  width: 50%;
}
