.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__icon {
  .size(40px, 40px);
  position: relative;
  left: 7px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
  }
}
