.examples {
  padding-top: 17px;
  padding-bottom: 30px;
  background-color: @bg-gray-light;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;
    padding-top: 32px;
    padding-bottom: 0;

    background-color: @white;

  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: -12px;
      right: 0;
      left: 0;

      height: 1px;

      background-color: @gray-lighten;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      height: @slider-height-bg;

      background-image: linear-gradient(to right, @bg-gray-light 50%, @bg-gray-dark 50%);
    }
 }
}

.examples__text {
  margin-top: 0;
  margin-bottom: 52px;
  padding-top: 15px;
}

.examples__slider {
  margin-top: 20px;
  margin-right: @mobil-padding * -1;
  margin-left: @mobil-padding * -1;

  @media (min-width: @tablet-width) {
    margin-top:58px;
    margin-right: 0;
    margin-left: 0;
  }
}


