.examples {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: @bg-gray-light;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;
    padding-top: 35px;
    padding-bottom: 0;

    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      top: -12px;
      right: 0;
      left: 0;

      height: 1px;

      background-color: @gray-lighten;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      height: @slider-height-gray;

      background-image: linear-gradient(to right, @bg-gray-light 50%, @bg-gray-dark 50%);
    }

    @media (min-width: @desktop-width) {
      top: @slider-height-white;
      height: auto;
    }
  }
}

.examples__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.examples__inner {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: percentage(438 / 1220);
    padding-top: 55px;
    padding-bottom: 70px;
  }
}

.examples__text {
  .text-arial();
  .font(14px, 18px);
  margin-top: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    .font(16px, 24px);
    margin-bottom: 55px;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 98px;
    margin-bottom: auto;
    padding-top: 0;
  }
}

.examples__list {
  @media (min-width: @desktop-width) {
    width: percentage(366 / 438);
  }
}

.examples__slider {
  margin-top: 20px;
  margin-right: @mobil-padding * -1;
  margin-left: @mobil-padding * -1;

  @media (min-width: @tablet-width) {
    margin-top: 58px;
    margin-right: 0;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-top: 0;
    margin-right: @desktop-padding * -1;
  }
}
