.form {
  padding-bottom: 30px;
  font: inherit;

  @media (min-width: @tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 80px;
  }
}

.form__positioner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* max-width: 410px; */
  margin: 0 auto;
  padding-right: @mobil-padding;
  padding-left: @mobil-padding;

  @media (min-width: @tablet-width) {
    max-width: 1024px;
    padding-right: @tablet-padding + 40;
    padding-left: @tablet-padding + 40;
  }

  @media (min-width: @desktop-width) {
    max-width: 1300px;
    padding-right: @desktop-padding;
    padding-left: @desktop-padding;
  }
}

.form__group {
  width: 100%;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 2 * @desktop-padding);
    margin-right: @desktop-padding * -1;
    margin-left: @desktop-padding * -1;
  }

  &_half-width {
    @media (min-width: @desktop-width) {
      width: 50%;
      padding-right: @desktop-padding;
      margin-right: 0;
      margin-left: 0;
    }

    .form__input {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.form__input {
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    padding-right: @desktop-padding;
    padding-left: @desktop-padding;
  }
}

.form__group-radio {
  .list-off();
  width: calc(100% + 2 * @mobil-padding);
  margin-right: @mobil-padding * -1;
  margin-left: @mobil-padding * -1;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-right: @mobil-padding;
  padding-bottom: 10px;
  padding-left: @mobil-padding;

  border: 1px solid @border-gray;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 75px;
    padding-top: 24px;
    padding-right: 27px;
    padding-left: 27px;
  }

  @media (min-width: @desktop-width) {
    align-self: flex-start;
    width: calc(50% - @desktop-padding);
    margin-top: 20px;
    margin-left: @desktop-padding;
    margin-bottom: 0;
  }
}

.form__radio {
  display: flex;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
  }
}

.form__wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: -1;

    height: 3px;
    background-color: @bg-green;

    @media (min-width: @tablet-width) {
      top: 20px;
    }
  }
}

.form__group-check {
  .list-off();
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 2 * @tablet-padding);
    margin-right: @tablet-padding * -1;
    margin-left: @tablet-padding * -1;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    width: calc(100% + 2 * @desktop-padding);
    margin-right: @desktop-padding * -1;
    margin-left: @desktop-padding * -1;
    margin-bottom: 30px;
  }
}

.form__check {
  display: flex;
  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding-left: @tablet-padding;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
    padding-right: @desktop-padding;
    padding-left: @desktop-padding;
  }
}

.form__group-title {
  .font(24px, 24px);
  align-self: flex-start;
  display: block;
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: @mobil-padding * -1;
  padding-left: @mobil-padding;
  padding-right: @mobil-padding;
  font-weight: 400;

  background-color: @white;

  @media (min-width: @tablet-width) {
    .font(36px, 36px);
    margin-bottom: 55px;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &_narrow {
    width: 225px;

    @media (min-width: @tablet-width) {
      width: auto;
      padding-right: @desktop-padding;
      padding-left: @desktop-padding;
    }
  }
}

.form__textarea {
  width: 100%;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 15px;
    margin-bottom: 70px;
  }
}

.form__button {
  .font(16px, 20px);
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    .font(20px, 20px);
    width: calc(50% - @tablet-padding);
    margin-bottom: 0;
    margin-right: @tablet-padding;
    padding: 16px 20px;
  }

  @media (min-width: @desktop-width) {
    width: calc(50% - @desktop-padding);
    margin-bottom: 0;
    margin-right: @desktop-padding;
  }
}

.form__text {
  .text-arial();
  .font(14px, 16px);
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    .font(16px, 16px);
    width: 50%;
    padding-left: @tablet-padding;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding-left: @desktop-padding;
  }
}
