.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  min-height: 289px;
  width: 280px;
  padding-top: 65px;
  padding-bottom: 45px;

  color: @white;

  background-color: @bg-green-dark;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 90px;


    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }
}

.gift__description {
  .font(16px, 20px);
  .text-arial();
  margin-top: auto;
  margin-bottom: 0;

  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-top: 10px;
    padding-left: 50px;
    text-align: left;
  }
}
