.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  min-height: 289px;
  width: 280px;
  padding-top: 65px;
  padding-bottom: 45px;

  color: @white;

  background-color: @bg-green-dark;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gift__description {
  .font(16px, 20px);
  .text-arial();
  width: 165px;
  margin-top: auto;
  margin-bottom: 0;

  text-align: center;
  color: @white;
}
